h1:hover{
    background-color: purple;
}
h1:active{
    font-size: 100px;
    color: red;
}
button:hover{
    color: red;
}
button:active {
    background-color: firebrick;
    font-size: 40px;
}

input:hover{
    border: 10px solid blue;
    cursor: pointer;
}
input:focus{
    background-color: yellow;

}

a[target="Costco"]:hover{
    color: blue;
}
/*a[target="Costco"]:visited{*/
/*    color: darkred;*/


